.resultado {
  margin-top: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 2px solid #333;
  border-radius: 8px;
}

.resultado-text {
  font-size: 24px;
  font-weight: bold;
}

.resultado-moneda {
  font-size: 30px;
  color: #fc2169; /* Color destacado para el resultado */
  margin-top: 8px;
}
