.custom-background {
  background-color: #1C2C51;
}

.mat-toolbar-row button span,
.mat-toolbar-row span {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
