<mat-toolbar class="w-full fixed-top custom-background pl-12">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/jugadores" class="align-items-center" [routerLinkActive]="'active-link'">
      <span>Listado Jugadores</span>
      <!-- <mat-icon>people</mat-icon> -->
    </button>
    <span class="mx-2">|</span>
    <button mat-icon-button routerLink="/ejercicios" class="align-items-center" [routerLinkActive]="'active-link'">
      <span>Ejercicios</span>
     <!--  <mat-icon>fitness_center</mat-icon> -->
    </button>
  </mat-toolbar-row>
</mat-toolbar>

